<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="4E82E9A2-73C4-4F99-B5E8-D06813D1828F" 
           Name="HOLE BALL" 
           Language="1033" 
           Version="1.0.0.0" 
           Manufacturer="Ben Long" 
           UpgradeCode="1F2B5A51-01AB-455A-AFAD-D0CDE442FF65">
    
    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" 
             Description="HOLE BALL - Topographical Physics Game"
             Comments="Split-screen multiplayer physics sandbox game" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- Installation directory structure -->
    <Feature Id="ProductFeature" Title="HOLE BALL" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <!-- Directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="HOLE BALL" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="HOLE BALL"/>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop"/>
    </Directory>

    <!-- Start Menu shortcuts -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="HOLE BALL"
                  Description="Topographical Physics Game"
                  Target="[#HOLE_BALL.exe]"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\HOLEBALL" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!-- Desktop shortcut -->
    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="*">
        <Shortcut Id="ApplicationDesktopShortcut"
                  Name="HOLE BALL"
                  Description="Topographical Physics Game"
                  Target="[#HOLE_BALL.exe]"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\HOLEBALL" Name="desktop" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Product>

  <!-- Components to install -->
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="*">
        <File Id="HOLE_BALL.exe" Source="dist\HOLE_BALL.exe" KeyPath="yes"/>
      </Component>
      <Component Id="InstallationGuide" Guid="*">
        <File Id="INSTALLATION.txt" Source="dist\INSTALLATION.txt"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>